$color-light-blue: #c8e9ee;
$color-wight: #ffffff;
$color-green: #02be02;
$color-yellow: #ffff00;
$color-blue: #0000ff;
$color-red: #ff0000;

*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.header {
  line-height: 23px;
  display: flex;  
  width: 100%;
  max-width: 1440px;
  background-color: $color-light-blue;
  margin: 0 auto;  
  height: 48px;
  flex-direction: row;
  align-items: center;  
    &--button_menu {
      width: 18px;
      height: 12px;
      margin: 0 36px 0 20px;
      border: none;
      background: url('./assets/images/Shape_menu.svg') no-repeat;
      cursor: pointer;
    }
    &--title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      margin: 0 auto 0 0;
    }
    &--button_option {
      width: 4px;
      height: 16px;
      margin: 0 20px 0 5px;
      border: none;
      background: url('./assets/images/Shape_option.svg') no-repeat;
      cursor: pointer;
    }
}

.main {
  display: grid;
  width: 100%;
  max-width: 1440px;  
  margin: 0 auto;  
  grid-row-gap: 50px; 
  grid-template-columns: 228px 512px 228px;
  justify-content: space-between;

  .main_div {    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.tools_wrapper {
  align-self: start;
  width: 10em;  
  margin-left: 1em;
  .menu_tools{
    list-style: none;
    &--item {
      border-radius: 0.5em;      
      line-height: 1em;
      padding: 1em 2em;
      cursor: pointer;
      border: solid 1px $color-wight;
      
      &:hover{
        border: solid 1px $color-light-blue;
      }
    }
    .paint_bucket {
      background: url("./assets/images/icon-paint.svg") no-repeat;
      background-position: 5px;      
    }
    .choose_color {
      background: url("./assets/images/icon-choose_color.svg") no-repeat;  
      background-position: 5px;       
    }
    .move {
      background: url("./assets/images/icon-move.svg") no-repeat;  
      background-position: 5px;       
    }
    .transform {
      background: url("./assets/images/icon-transform.svg") no-repeat;  
      background-position: 5px;       
    }

  }

  .menu_tools--paint { 
    background: url("./assets/images/icon-paint.svg") no-repeat;
  }
  
  .menu_tools--color { 
    background: url("./assets/images/icon-choose_color.svg") no-repeat;
  }

  .menu_tools--move {
    background: url("./assets/images/icon-move.svg") no-repeat;
  }
  
  .menu_tools--transform {
    background: url("./assets/images/icon-transform.svg") no-repeat;
  }   
}

.canvas {
  width: 512px;
  height: 512px;    
  grid-row: 1/3;
  grid-column: 2;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.size_wrapper {
  margin-right: 1em;
  justify-self: right;
  width: 10em;  
  .menu_size{
    list-style: none;   
    &--item{      
      border-radius: 0.5em;      
      line-height: 1em;
      padding: 1em 2em;
      cursor: pointer;
      border: solid 1px $color-wight;
      &:hover{
        border: solid 1px $color-light-blue;
      }
    }
    .selected{
      background-color: $color-light-blue;
    }
    
  }

}

.color_wrapper {
  align-self: start;
  width: 10em;  
  margin-left: 1em;
  .menu_color{
    list-style: none; 
    &--item{
      position: relative;            
      line-height: 1em;
      padding: 1em 2em;
      cursor: pointer;
      border-radius: 0.5em;
      border: solid 1px $color-wight;
      &:hover{
        border: solid 1px $color-light-blue;
      }      
    }
    &--color {
      position: absolute;    
      cursor: pointer;
      height: 1em;
      width: 1em;    
      border-radius: 0.5em;
      border: black solid 1px;      
      top: 18px;
      left: 10px;
    }
    
    .current_color { 
      background-color: $color-green;      
    }
    
    .prev_color { 
      background-color: $color-yellow;     
    }
    
    .blue_color { 
      background-color: $color-blue;  
    }

    .red_color { 
      background-color: $color-red;  
    }
  }
}




