* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.header {
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1440px;
  background-color: #c8e9ee;
  margin: 0 auto;
  height: 48px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--button_menu {
  width: 18px;
  height: 12px;
  margin: 0 36px 0 20px;
  border: none;
  background: url("./assets/images/Shape_menu.svg") no-repeat;
  cursor: pointer;
}

.header--title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin: 0 auto 0 0;
}

.header--button_option {
  width: 4px;
  height: 16px;
  margin: 0 20px 0 5px;
  border: none;
  background: url("./assets/images/Shape_option.svg") no-repeat;
  cursor: pointer;
}

.main {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  grid-row-gap: 50px;
  -ms-grid-columns: 228px 512px 228px;
      grid-template-columns: 228px 512px 228px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main_div {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tools_wrapper {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 10em;
  margin-left: 1em;
}

.tools_wrapper .menu_tools {
  list-style: none;
}

.tools_wrapper .menu_tools--item {
  border-radius: 0.5em;
  line-height: 1em;
  padding: 1em 2em;
  cursor: pointer;
  border: solid 1px #ffffff;
}

.tools_wrapper .menu_tools--item:hover {
  border: solid 1px #c8e9ee;
}

.tools_wrapper .menu_tools .paint_bucket {
  background: url("./assets/images/icon-paint.svg") no-repeat;
  background-position: 5px;
}

.tools_wrapper .menu_tools .choose_color {
  background: url("./assets/images/icon-choose_color.svg") no-repeat;
  background-position: 5px;
}

.tools_wrapper .menu_tools .move {
  background: url("./assets/images/icon-move.svg") no-repeat;
  background-position: 5px;
}

.tools_wrapper .menu_tools .transform {
  background: url("./assets/images/icon-transform.svg") no-repeat;
  background-position: 5px;
}

.tools_wrapper .menu_tools--paint {
  background: url("./assets/images/icon-paint.svg") no-repeat;
}

.tools_wrapper .menu_tools--color {
  background: url("./assets/images/icon-choose_color.svg") no-repeat;
}

.tools_wrapper .menu_tools--move {
  background: url("./assets/images/icon-move.svg") no-repeat;
}

.tools_wrapper .menu_tools--transform {
  background: url("./assets/images/icon-transform.svg") no-repeat;
}

.canvas {
  width: 512px;
  height: 512px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.size_wrapper {
  margin-right: 1em;
  -ms-grid-column-align: right;
      justify-self: right;
  width: 10em;
}

.size_wrapper .menu_size {
  list-style: none;
}

.size_wrapper .menu_size--item {
  border-radius: 0.5em;
  line-height: 1em;
  padding: 1em 2em;
  cursor: pointer;
  border: solid 1px #ffffff;
}

.size_wrapper .menu_size--item:hover {
  border: solid 1px #c8e9ee;
}

.size_wrapper .menu_size .selected {
  background-color: #c8e9ee;
}

.color_wrapper {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 10em;
  margin-left: 1em;
}

.color_wrapper .menu_color {
  list-style: none;
}

.color_wrapper .menu_color--item {
  position: relative;
  line-height: 1em;
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 0.5em;
  border: solid 1px #ffffff;
}

.color_wrapper .menu_color--item:hover {
  border: solid 1px #c8e9ee;
}

.color_wrapper .menu_color--color {
  position: absolute;
  cursor: pointer;
  height: 1em;
  width: 1em;
  border-radius: 0.5em;
  border: black solid 1px;
  top: 18px;
  left: 10px;
}

.color_wrapper .menu_color .current_color {
  background-color: #02be02;
}

.color_wrapper .menu_color .prev_color {
  background-color: #ffff00;
}

.color_wrapper .menu_color .blue_color {
  background-color: #0000ff;
}

.color_wrapper .menu_color .red_color {
  background-color: #ff0000;
}
/*# sourceMappingURL=style.css.map */